/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {
    //default: do not publish into the results folder
    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        enabled: false
    ]

    withName: FASTQC_RAW {
        args = '--quiet'
        publishDir = [
            path: { "${params.outdir}/Intermediate_Outputs/FastQC" },
            mode: params.publish_dir_mode,
            pattern: "*.html"
        ]
    }
    withName: CUTADAPT {
        ext.args = [
            "-q ${params.cutadapt_quality_cutoff}",
            "-m ${params.cutadapt_min_read_length}",
            "-e ${params.cutadapt_max_error_rate}"
        ].join(' ').trim()
        publishDir = [
            path: { "${params.outdir}/Intermediate_Outputs/Cutadapt" },
            mode: params.publish_dir_mode,
            pattern: "*.log"
        ]
        ext.prefix = ".cutadapt"
    }
    withName: BOWTIE2_HOST_REMOVAL_ALIGN_CUTADAPT {
        publishDir = [
            path: { "${params.outdir}/Intermediate_Outputs/Host_Removal" },
            mode: params.publish_dir_mode,
            pattern: "*.{log,read_ids.txt}"
        ]
        ext.prefix = "host_removed"
    }
    withName: BOWTIE2_HOST_REMOVAL_ALIGN_TRIMMOMATIC {
        ext.args = params.host_removal_verysensitive ? "--very-sensitive" : "--sensitive"
        publishDir = [
            path: { "${params.outdir}/Intermediate_Outputs/Host_Removal" },
            mode: params.publish_dir_mode,
            pattern: "*.{log,read_ids.txt}"
        ]
        ext.prefix = "host_removed"
    }
    withName: BOWTIE2_PHIX_REMOVAL_ALIGN_CUTADAPT {
        publishDir = [
            path: { "${params.outdir}/Intermediate_Outputs/Host_Removal" },
            mode: params.publish_dir_mode,
            pattern: "*.{log,read_ids.txt}"
        ]
        ext.prefix = "phix_removed"
    }
    withName: BOWTIE2_PHIX_REMOVAL_ALIGN_TRIMMOMATIC {
        publishDir = [
            path: { "${params.outdir}/Intermediate_Outputs/Host_Removal" },
            mode: params.publish_dir_mode,
            pattern: "*.{log,read_ids.txt}"
        ]
        ext.prefix = "phix_removed"
    }
    /*withName: 'BUSCO_SUMMARY_CUTADAPT_MEGAHIT' {
        publishDir = [
            path: { "${params.outdir}/Intermediate_Outputs/BUSCO" },
            mode: params.publish_dir_mode,
            //saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            ext.prefix: "Cutadapt-MEGAHIT"
        ]
    }
    withName: 'BUSCO_SUMMARY_CUTADAPT_SPAdes' {
        publishDir = [
            path: { "${params.outdir}/Intermediate_Outputs/BUSCO" },
            mode: params.publish_dir_mode,
            //saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            ext.prefix: "Cutadapt-SPAdes"
        ]
    }
    withName: 'BUSCO_SUMMARY_TRIMMOMATIC_MEGAHIT' {
        publishDir = [
            path: { "${params.outdir}/Intermediate_Outputs/BUSCO" },
            mode: params.publish_dir_mode,
            //saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            ext.prefix: "Trimmomatic-MEGAHIT"
        ]
    }
    withName: 'BUSCO_SUMMARY_TRIMMOMATIC_SPAdes' {
        publishDir = [
            path: { "${params.outdir}/Intermediate_Outputs/BUSCO" },
            mode: params.publish_dir_mode,
            //saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            ext.prefix: "Trimmomatic-MEGAHIT"
        ]
    }*/
    withName: MULTIQC {
        ext.args   = ""
        publishDir = [
            path: { "${params.outdir}/Multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            pattern: '*_versions.yml'
        ]
    }
	

	withName: KRAKEN2_CUTADAPT {
        publishDir = [
            path: { "${params.outdir}/Results/Kraken2/Cutadapt" },
            mode: params.publish_dir_mode,
            pattern: "*.txt"
        ]
	}
	withName: KRAKEN2_TRIMMOMATIC {
        publishDir = [
            path: { "${params.outdir}/Results/Kraken2/Trimmomatic" },
            mode: params.publish_dir_mode,
            pattern: "*.txt"
        ]
	}
	withName: KRONA_CUTADAPT {
        publishDir = [
            path: { "${params.outdir}/Results/Krona/Cutadapt" },
            mode: params.publish_dir_mode,
            pattern: "*.html"
        ]
    }
	withName: KRONA_TRIMMOMATIC {
        publishDir = [
            path: { "${params.outdir}/Results/Krona/Trimmomatic" },
            mode: params.publish_dir_mode,
            pattern: "*.html"
        ]
    }
	/*
	withName: 
*/
	
}