/*
========================================================================================
    Nextflow config file for running minimal tests
========================================================================================
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/mag -profile test,<docker/singularity>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = 60.GB
    max_time   = 6.h

    // Input data
    input                       = 'https://raw.githubusercontent.com/nf-core/test-datasets/mag/samplesheets/samplesheet.csv'
	//input                       = "/data/home/diya/test_sample.csv"
    kraken2_db                  = "https://raw.githubusercontent.com/nf-core/test-datasets/mag/test_data/minigut_kraken.tgz"
    skip_krona                  = false
    min_length_unbinned_contigs = 1
    max_unbinned_contigs        = 2
    busco_reference             = "/data/home/ubuntu/bacteria_odb10.2020-03-06.tar.gz"// "https://busco-data.ezlab.org/v5/data/lineages/bacteria_odb10.2020-03-06.tar.gz"
    gtdb                        = "https://data.ace.uq.edu.au/public/gtdb/data/releases/release207/207.0/auxillary_files/gtdbtk_r207_v2_data.tar.gz"//"s3://nf-core-awsmegatests/mag/input_data/gtdbtk_r202_data.tar.gz"
}
